In [ ]:
import numpy as np
import pandas as pd

In [ ]:
student_data=pd.read_csv('/content/Students_Performance.csv')
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [ ]:
#QUESTION 1(a)

In [ ]:
gender_count=student_data['gender'].value_counts()
print("number of males",gender_count['male'])
print("number of females",gender_count['female'])

number of males 482
number of females 518

In [ ]:
#QUESTION 1(b)

In [ ]:
parental_education_counts = student_data['parental level of education'].value_counts()
print("Parental Level of Education Distribution:")
print(parental_education_counts)

Parental Level of Education Distribution:
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [ ]:
#QUESTION 1(c)(i)

In [ ]:
average_scores=student_data.groupby("gender").mean()
print('averege score by gender')
print(average_scores)

averege score by gender
        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

<ipython-input-14-38c89d4590da>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_scores=student_data.groupby("gender").mean()

In [ ]:
#QUESTION 1(c)(ii)

In [ ]:
average_scores_preparation=student_data.groupby("test preparation course").mean()
print('average score by test preparation',average_scores_preparation)

average score by test preparation                          math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

<ipython-input-16-83551ce7dcb4>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_scores_preparation=student_data.groupby("test preparation course").mean()

In [ ]:
#QUESTION 1(d)(i)

In [ ]:
score_variation=student_data.groupby("gender").std()
print('scoring variation by gender',score_variation)

scoring variation by gender         math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

<ipython-input-19-f404d3d7688e>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  score_variation=student_data.groupby("gender").std()

In [ ]:
#QUESTION 1(d)(ii)

In [ ]:
score_variation=student_data.groupby("test preparation course").std()
print('scoring variation by test preparation course ',score_variation)

scoring variation by test preparation course                           math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

<ipython-input-21-105c47b8c48e>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  score_variation=student_data.groupby("test preparation course").std()

In [ ]:
#QUESTION 1(e)

In [ ]:
cut_off=np.percentile(student_data['math score'],75)
top_25_students=student_data[student_data['math score']>cut_off]
print('top 25% of students based on their maths mark')
print(top_25_students)

top 25% of students based on their maths mark
     gender race/ethnicity parental level of education         lunch  \
430  female        group A                some college      standard
431  female        group B           bachelor's degree  free/reduced
432  female        group D           bachelor's degree      standard
433  female        group D                 high school      standard
434  female        group D           bachelor's degree  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
430               completed          78             87             91
431                    none          78             79             76
432                    none          78             82             79
433                    none          78             81             80
434                    none          78             90             93
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[231 rows x 8 columns]

In [ ]:
#QUESTION 2

In [1]:
import pandas as pd
import statistics as stat

In [2]:
sales_add=pd.read_csv('/content/Sales_add.csv')
sales_add.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [3]:
#question (a)

In [14]:
df1=sales_add['Sales_before_digital_add(in $)']
df1

0     132921
1     149559
2     146278
3     152167
4     159525
5     137163
6     130625
7     131140
8     171259
9     141956
10    159339
11    178939
12    145062
13    151514
14    147463
15    177195
16    140862
17    167996
18    132135
19    152493
20    147425
21    130263
Name: Sales_before_digital_add(in $), dtype: int64

In [21]:
df1_new=list(df2)
df1_new

[270390,
 223334,
 244243,
 231808,
 258402,
 256948,
 222106,
 230637,
 226261,
 193735,
 203175,
 276279,
 205180,
 253131,
 229336,
 187305,
 234908,
 191517,
 227040,
 212579,
 263388,
 243020]

In [15]:
df2=sales_add['Sales_After_digital_add(in $)']
df2

0     270390
1     223334
2     244243
3     231808
4     258402
5     256948
6     222106
7     230637
8     226261
9     193735
10    203175
11    276279
12    205180
13    253131
14    229336
15    187305
16    234908
17    191517
18    227040
19    212579
20    263388
21    243020
Name: Sales_After_digital_add(in $), dtype: int64

In [20]:
df2_new=list(df2)
df2_new

[270390,
 223334,
 244243,
 231808,
 258402,
 256948,
 222106,
 230637,
 226261,
 193735,
 203175,
 276279,
 205180,
 253131,
 229336,
 187305,
 234908,
 191517,
 227040,
 212579,
 263388,
 243020]

In [16]:
from scipy.stats import chisquare

In [23]:
chi_stat,p_value=chisquare(df1_new,df2_new)

In [24]:
p_value

1.0

In [26]:
if p_value<.05:
  print(' there is no increase in sales after stepping into digital marketing')
if p_value>.05:
  print(' there is a increase in sales after stepping into digital marketing')

 there is a increase in sales after stepping into digital marketing

In [27]:
#question(b)

In [29]:
from scipy.stats import chi2_contingency

In [31]:
contingency_table=pd.crosstab(sales_add['Region'],sales_add['Manager'])
contingency_table

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [33]:
chi_stat,p_value,df,expected_freq=chi2_contingency(contingency_table)

In [34]:
p_value

0.5493991051158094

In [35]:
if p_value<.05:
  print(' There is no dependency between the features “Region” and “Manager”.')
else:
  print('There is a dependency between the features “Region” and “Manager”')

There is a dependency between the features “Region” and “Manager”