 PRACTICE PROBLEMS 1

question:1

In [ ]:
r=int(input("enter the radius\n"))
area=2*22/7*r
area=print("area of a circle is",area)

enter the radius
10
area of a circle is 62.857142857142854

question:2

In [ ]:
 name=input("enter the name\n")
 roll_no=int(input("enter the rollno\n"))
 mark=int(input("enter the mark\n"))

enter the name
ambadi
enter the rollno
13
enter the mark
98

question:3

In [ ]:
def lar_list(list):
  large=list[0]
  for i in list:
    if i>large:
      large=i
  return large

list1=[23,5,3,10]
print("the list is ",list1,"\n")
print(lar_list(list1),"is the large\n")

the list is  [23, 5, 3, 10]

23 is the large

question:4

In [ ]:
start=10
end=20
prev_num=9

for current_number in range(start,end+1):
  print("current number",current_number)
  print("previous number",prev_num)
  print("sum",current_number+prev_num)

current number 10
previous number 9
sum 19
current number 11
previous number 9
sum 20
current number 12
previous number 9
sum 21
current number 13
previous number 9
sum 22
current number 14
previous number 9
sum 23
current number 15
previous number 9
sum 24
current number 16
previous number 9
sum 25
current number 17
previous number 9
sum 26
current number 18
previous number 9
sum 27
current number 19
previous number 9
sum 28
current number 20
previous number 9
sum 29

question:5

In [ ]:
list2=[5,10,12,15,18,20]
div5=list(filter(lambda x:(x%5==0),list2))
print("the list is",list2)
print("the divisor of 5 are",div5)

the list is [5, 10, 12, 15, 18, 20]
the divisor of 5 are [5, 10, 15, 20]

question:6

In [ ]:
num=int(input("enter a number\n"))
if num>1:
  for i in range(2,num):
    if num%i==0:
      print(num,"is not a prime number ")
    else:
      print(num,'is a prime number')

enter a number
11
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number

question:7

In [27]:
list3=[10,20,30,40]
print("list before reversal",list3)
rev_list=[]
for i in list3:
  rev_list=[i]+rev_list
print("list after reversal",rev_list)

list before reversal [10, 20, 30, 40]
list after reversal [40, 30, 20, 10]

question:8

In [29]:
def print_pattern():
  print("*"*1)
  print("*"*2)
  print("*"*3)
  print("*"*4)

print_pattern()

*
**
***
****

question:9

In [31]:
num1=int(input("enter the 1st number\n"))
num2=int(input("enter the 2nd nymber\n"))
num3=int(input("enter the 3rd number\n"))

if (num1>num2) and (num1>num3):
  print( num1," is greater")
elif (num2>num1) and (num2>num3):
  print(num2,"is greater")

else:
  print(num3,"is greater")

enter the 1st number
45
enter the 2nd nymber
46
enter the 3rd number
44
46 is greater

question:10

In [34]:
stars=5

for i in range(1,stars+1):
  print("*"*i)
for i in range(stars -1,0,-1):
  print("*"*i)

*
**
***
****
*****
****
***
**
*

PRACTICE PROBLEMS 2

question:1

In [83]:
ex=input("enter a string:")
co={}
for i in ex:
  if i in co:
    co[i]+=1
  else:
    co[i]=1
print(co)

enter a string:assembly
{'a': 1, 's': 2, 'e': 1, 'm': 1, 'b': 1, 'l': 1, 'y': 1}

question:2

In [47]:
def maximum(a,b,c):
  list=[a,b,c]
  return max(list)

a=35
b=31
c=56
print(maximum(a,b,c))

56

question:3

In [48]:
def exponent(base,exp):
  return base**exp

base=int(input("enter the base number\n"))
exp=int(input("enter the exp value\n"))
result=exponent(base,exp)
print(result)

enter the base number
4
enter the exp value
5
1024

question:4

In [84]:
def soc(n):
  soc=0

  for i in range(1,n):
    soc +=i**3
  return soc

ran=int(input("enter the range to find cube\n"))
if ran>1:
  cube =soc(ran)
  print("sum of cubes the +ve integer less than",ran,"is",cube)
else:
  print("negative numbers are not accepted at the moment")

enter the range to find cube
5
sum of cubes the +ve integer less than 5 is 100

question:5

In [51]:
for i in range(1,11):
  if i%2==0 and i%5==0:
    print("fizzbuzz")
  elif i%2==0:
    print("fizz")
  elif i%5==0:
    print("buzz")
  else:
    print(i)

1
fizz
3
fizz
buzz
fizz
7
fizz
9
fizzbuzz

question:6

In [82]:
def li(list):
  return max(set(list),key=list.count)

my_list=[2,3,4,3,5,3,6,3]
print("most frequent element in",my_list,"is",li(my_list))

most frequent element in [2, 3, 4, 3, 5, 3, 6, 3] is 3

question:7

In [60]:
def sum_of_sq(numbers):
  return sum(num**2 for num in numbers)

lst=[2,3,4,5]
print("sum of squares of",lst,"is",sum_of_sq(lst) )

sum of squares of [2, 3, 4, 5] is 54

question:8

In [63]:
for i in range(1,16):
  if (i%2) ==  0:
    print(i,"-","even")
  else:
    print(i,"-","odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

question:9

In [68]:
def cel_to_far(celsius):
  return (celsius *9/5)+32
def far_to_cel(fahrenheit):
  return(fahrenheit-32)*5/9
tem_fahr=51
tem_to_cel=far_to_cel(tem_fahr)
print("temperature in celsius is",tem_to_cel)
convert_cel_fahr=cel_to_far(tem_to_cel)
print("temperature converted back to fahrehenit is",convert_cel_fahr)

temperature in celsius is 10.555555555555555
temperature converted back to fahrehenit is 51.0

question:10

In [78]:
def fac(n):
  if (n==0):
    return 1
  else:
    return n*fac(n-1)

num=int(input("enter a number to find its factorial"))
print("factorial of ",num,"is",fac(num))

enter a number to find its factorial5
factorial of  5 is 120

DISCORD PRACTICE PROBLEM

question:1

In [79]:
first=input("enter your first name\n")
last=input("enter your last name\n")
name=first+last
print("hello",name,"how are you???")

enter your first name
ambadi
enter your last name
b kurup
hello ambadib kurup how are you???

question:2

In [81]:
n=int(input("enter the value\n"))

if (n%2!=0):
  print(n,"is odd")
elif n>=2 and n<=5:
  print("no weird")
elif n>=6 and n<=20:
  print("weird")
else:
  print("not weird")

enter the value
8
weird